.navbar-nav {
    width: 100% !important;

}

.hero {
    background-image: url("../img/backhero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.titleAll {
    padding-top: 35vh;
}

#titleAll {
    background-color: black;
    margin-left: 60vh;
    margin-right: 60vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

/*map.html*/

#momentDeLaJournee {
    height: 10px;
}

#map {
    height: 100vh;
}



#clock {
    width: 53%;

}